h1{
    color: darkgreen;
    width: 500px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}








body{background: rgb(197, 231, 211) }

/* body {background-image:url('logo_tree.png');
    background-repeat: repeat-x; background-attachment: fixed;} */


body {background-image:url('logo_tree.png');
    background-repeat: no-repeat; background-position:middle;}


h3 {
    color: #018114 ;
    font-family: 'Courier New', Courier, monospace;
}
p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

